.login-form {
    padding: 30px;
    margin-top: 50px;
    float: right;
}

.login-form h4 {
    color: #237585;
    border-bottom-width:1px;
    text-align: center;
    font-size: 24px;
}

.login-container::before,.login-container::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 4px;
    left: 0;
    background: #fff;
    z-index: -1;
    -webkit-transform: rotateZ(4deg);
    -moz-transform: rotateZ(4deg);
    -ms-transform: rotateZ(4deg);
    border: 1px solid #ccc;
}

.login-container::after{
    top: 5px;
    z-index: -2;
    -webkit-transform: rotateZ(-2deg);
    -moz-transform: rotateZ(-2deg);
    -ms-transform: rotateZ(-2deg);
}

.tooltip-inner{
    margin: 5px;
    color: #fababf;
    background-color: #B72E3E;
    border-color: #7e2331;
    font-family: 'Caveat', cursive;
    font-size: 22px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px
}

.invalid, .tooltip-invalid .tooltip-inner {
    color: #FA7080 !important;
    background-color: transparent !important;
    border-color: transparent;
}

.valid, .tooltip-valid .tooltip-inner {
    color: #bbebe5 !important;
    background-color: transparent !important;
    border-color: transparent;
}

#error, .error {
    margin-top: 30px;
}

.button.login {
    margin-top: 10px;
    width: 60%;
    left: 20%;
}