
/* preloader */

#loader-wrapper {
    position: fixed;
    background: url(../static/background.png) repeat;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #2599a8;
    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #9a9a9a;
    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #1e5969;
    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}

body {
    background: url(../static/background.png) repeat;
    padding: 0;
    font-family: 'Caveat', cursive;
    font-size: 26px;
    color: #237585;
}

.title {
    border-bottom: 2px solid #237585;
}

.title-text {
    font-size: 30px;
    font-weight: bold;
    float: left;
    margin-right: 10px;
}

.title-text-medium {
    font-size: 26px;
    font-weight: bold;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
}
.title-text-medium-right {
    font-size: 26px;
    font-weight: bold;
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
}

.title-back {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.1);
    float: left;
    padding-right: 10px;
    bottom: 50%;
}

.title-back:hover {
    color: #237585;
    text-decoration: none;
}

.bold {
    font-weight: bold;
}

.input,
.input label,
.input input,
.input textarea,
.input .spin,
.button,
.button button .button.login button,
.button.login button {
    /* время анимации перехода */
    transition: 300ms cubic-bezier(.4, 0, .2, 1);
    -webkit-transition: 300ms cubic-bezier(.4, 0, .2, 1);
    -ms-transition: 300ms cubic-bezier(.4, 0, .2, 1);
}

/* правильное расположение инпутов и лейблов */
.input,
.input label,
.input input,
.input textarea,
.input .spin,
.button,
.button button {
    width: 90%;
    left: 5%;
    float: left;
}

.input {
    height: 60px;
}

/* правильное расположение инпутов и лейблов */
.input,
.input input,
.button,
.button button {
    position: relative;
}

label {
    line-height: 40px;
    font-size: 24px;
    top : 10px;
}

/* правильное расположение инпутов и лейблов */
.input input, .input textarea {
    height: 50px;
    top: 10px;
    border: none;
    background: transparent;
}

/* убирает выделение вокруг инпута */
textarea:focus, input:focus, button:focus {
    outline: none;
}
/* убирает желтый фон */
input:-webkit-autofill{
    box-shadow:inset 0 0 0 1000px #fff;
}

.input:before,
.input .spin {
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 10px;
    left: 0;
}

.input:before {
    content: "";
    background: rgba(0, 0, 0, 0.1);
    z-index: 3;
}

.input .spin {
    background: #237585;
    z-index: 4;
    width: 0;
}

.input label {
    position: absolute;
    z-index: 2;
    cursor: pointer;
}

/* цвет невыделенной кнопки */
.button button {
    line-height: 35px;
    left: 0;
    background-color: transparent;
    border: 3px solid rgba(0, 0, 0, 0.1);
    font-weight: 900;
}

/* изменение цвета на кнопке */
.button button:hover {
    color: #237585;
    border-color: #237585;
}

/* изменение цвета на кнопке */
.button button:hover:disabled {
    color: #B72E3E;
    border-color: #B72E3E;
}

.main-text {
    font-size: 64px;
    font-weight: bold;
    text-rendering: optimizelegibility;
}

label {
    color: #237585;
}

#error, .error {
    font-size: 22px;
    color: #7e2331;
    text-align: center;
}

.particles {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: -2;
}

.navi a {
    color: #237585;
    display: block;
    font-weight: 500;
    padding: 10px 10px;
    text-decoration: none;
}

.navi i {
    margin-right: 15px;
    color: #237585;
}

.navi .active a {
    border-left: 5px solid #237585;
    padding-left: 15px;
}

.navi a:hover {
    border-left: 5px solid #237585;
    display: block;
    padding-left: 15px;
}

li,ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 1024px) {
    .main-text {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
footer {
    font-size: 20px;
    height: 150px;
}

footer .spin {
    width: 96%;
    left: 2%;
    float: left;
    height: 1px;
    background: #237585;
    z-index: 4;
    margin-bottom: 20px;
}

.button-small {
    float: right;
    width: auto; !important;
    left: 0; !important;
}

.button-big {
    width: 100%; !important;
    left: 0; !important;
    float: none;
}

.button-big button {
    border: 0;
    font-size: 50px;
    text-align: center;
    float: none;
    color: rgba(0, 0, 0, 0.1);
}

.button-big button.active {
    border: 0;
    font-size: 55px;
    color: #237585;;
}

.button-small button {
    border: 0;
    font-size: 35px;
    color: rgba(0, 0, 0, 0.1);
}

.button-small button.small{
    font-size: 30px;
}

.button-small button.active {
    border: 0;
    font-size: 35px;
    color: #237585;;
}

.text-small {
    font-size: 20px;
    color: rgba(26, 77, 93, 0.47);
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.error_box, .message_box {
    display: none;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    -webkit-box-shadow: 0px 5px 5px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 5px 3px rgba(0, 0, 0, 0.3);
}

.error_box {
    background: rgba(126, 35, 49, 0.55);
}

.message_box {
    background: rgba(103, 81, 126, 0.62);
}

.error_box p, .message_box p {
    color: rgba(248, 248, 248, 0.79);
    margin-top: 10px;
    font-weight: bold;
    filter: dropshadow(color=rgba(248, 248, 248, 0.75), offx=1, offy=1);
    text-align: center;
}

.starthidden {
    display: none;
}

.stage {
    margin-bottom: 5px;
    margin-top: 5px;
}

.stage-name {
    color: #1e5969;
    font-size: 25px;
    margin-bottom: 5px;
    border-bottom: 1px solid #237585;
}

.tasks {
    margin-left: 10px;
}

.task {
    color: #237585;
    font-size: 22px;
}

.edit-input {
    margin-top: 10px;
    margin-bottom: 10px;
}

.edit-input input, .edit-input textarea, .edit-input select, .report textarea {
    border-radius: 10px;
    border: 1px solid #237585;
    background: rgba(171, 171, 255, 0.07);
}
.edit-input label {
    display: block;
    font-weight: bold;
}

.edit-input textarea, .report textarea {
    width: 100%;
    resize: vertical;
    min-height: 50px;
    max-height: 500px;
}

.edit-stage .stage-index {
    float: left;
    width: 30px;
    font-size: 120%;
    margin-right: -30px;
    text-align: end;
}

.edit-stage .stage {
    width: calc(100% - 40px);
    margin-left: 40px;
}

.edit-task {
    margin-left: 100px;
}

.edit-task textarea{
    height: 50px;
    min-height: 50px;
    max-height: 100px;
}

.input-hidden {
    display: none;
}

.input-check input {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border-color: #1e5969;
}