.my-list-item {
    border-top: 1px solid #237585;
}

.content {
    background: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding : 5px;
}

a.my-list-item {
    display :block;
}

a.row {
    margin-right: 0;
    margin-left: 0;
}

.very-big-text {
    font-size: xx-large;
    text-align: center;
}