.btn-primary {
    background: #237585 none;
}

.page-title {
    text-align: center;
    font-size: 26px;
}

.form-control {
    border-radius: 10px;
    font-size: 22px;
    display : inline-block;
}

.form-input {
    margin: 5px 0px;
}

.goal-name {
    font-size: 22px;
    color: #237585;
}

.goal-state {
    font-size: 18px;
    color: #78dad6;
}
.not_started {
    color: #454545;
    font-weight: normal;
    text-decoration: none;
}

.in_progress {
    color: #237585;
    font-weight: bold;
    text-decoration: none;
}

.finished {
    color: #237585;
    font-weight: normal;
    text-decoration: line-through;
}

ol.ol-stages {
   list-style-type: none;
}